{% extends ':customer/dashboard:layout.html.twig' %}

{% block page_title %}
    ثبت درخواست ارسال
{% endblock %}

{% block main %}

    {{ form_start(form, {attr: {class: "ui form"}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('customer_dashboard_shipment_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
