/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets
/web/assetic
/web/js
/web/css
/.idea
/app/Resources/assets/semantic/node_modules/
/app/Resources/assets/semantic/dist/
/Vagrantfile
/.vagrant
/web/uploads/
/src/AppBundle/Resources/public/stylesheets/
/src/AppBundle/Resources/public/.sass-cache/
