{% extends ':customer/dashboard:layout.html.twig' %}

{% block main %}
    <h2>ثبت اطلاعات کارت</h2>
<div class="ui form">
    {{ form_start(form)}}
    {{ form_widget(form) }}
    <input type="submit" style="margin-top: 10px " value="ثبت اطلاعات" />
    {{ form_end(form) }}
</div>
{% endblock %}