<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/pixel-admin.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/widgets.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/rtl.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/themes.min.css'
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        'bundles/app/stylesheets/customer/layout.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body dir="rtl" class="theme-default main-menu-animated right-to-left">
<div id="main-wrapper">
    {% block body %}{% endblock %}
    {% block javascripts %}
        {% javascripts
        'assets/vendor/jquery/dist/jquery.js'
        'bundles/app/pixeladmin/assets/javascripts/bootstrap.min.js'
        'bundles/app/pixeladmin/assets/javascripts/pixel-admin.min.js'
        'bundles/app/javascript/customer/right_menu_active.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
</div>
<script>var init = [];</script>
<script type="text/javascript">
    init.push(function () {
        // Javascript code here
    });
    window.PixelAdmin.start(init);
</script>
<!-- Javascript -->
</body>
</html>
