{% extends ':operator/dashboard:layout.html.twig' %}
{% block title %}
    نمایش واحد شغلی
{% endblock %}
{% block page_title %}
    واحد شغلی
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_businessunit_index') }}">واحد های شغلی</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">واحد شغلی</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>صنف</th>
                    <th>نوع قرار داد</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ businessUnit.name }}</td>
                    <td>{{ businessUnit.businessType.persianName }}</td>
                    <td>
                        {% if businessUnit.contractType == constant('AppBundle\\DBAL\\EnumContractType::ENUM_PER_MONTH') %}
                            <span>ماهیانه</span>
                        {% else %}
                            <span>به ازای هر مرسوله</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a style="margin-right: 10px;margin-bottom: 10px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_operator_dashboard_businessunit_index') }}">فهرست واحد های شغلی</a>
            </div>
        </div>
    </div>
{% endblock %}
