{% extends ':customer/dashboard:layout.html.twig' %}
{% block breadcrumbs %}
    <li class="active">روش پرداخت</li>
{% endblock %}
{% block page_title %}
    تعیین روش پرداخت
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>مبلغ قابل پرداخت (تومان)</th>
                    <th>روش پرداخت</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><h4>{{ invoice.price }}</h4></td>
                    <td>
                        <div class="ui form">
                            {{ form_start(form) }}
                            <div class="field">
                                {{ form_widget(form.method) }}
                            </div>
                            <input class="btn btn-success" type="submit" style="margin-top: 10px " value="پرداخت" />
                            {{ form_end(form) }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}