{% extends ':customer/dashboard/shipment:_shipment_form.html.twig' %}

{% block child_form %}
    <div class="form-group row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4">{{ form_label(form.value) }}</label>
                <div class="calc_price_item col-sm-7" style="direction: rtl !important;">{{ form_widget(form.value ) }}</div>
                <div class="col-sm-1 value-price">تومان</div>
            </div>
        </div>
    </div>
{% endblock %}