{% extends ':customer/dashboard/shipment:_shipment_form.html.twig' %}

{% block child_form %}
    <div class="form-group row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4">{{ form_label(form.otherAddress) }}</label>
                <div class="calc_price_item col-sm-8" style="direction: rtl !important;">{{ form_widget(form.otherAddress ) }}</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4">{{ form_label(form.value) }}</label>
                <div class="calc_price_item col-sm-8" style="direction: rtl !important;">{{ form_widget(form.value ) }}</div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <button id="select-driver" disabled type="button" class="btn btn-sm btn-labeled btn-primary disabled" data-toggle="modal" data-target="#myModal">انتخاب راننده</button>
    <label class="switch">
        <input type="checkbox" id="shipment-switch">
        <div class="slider round"></div>
    </label>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            vertical-align: middle;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .drivers {
            list-style: none;
        }
    </style>
{% endblock %}