{% extends ':operator/dashboard:layout.html.twig' %}

{% block main %}
    <div class="ui info message">
        <h4>رد درخواست!!!</h4>
        <p>درخواست شما توسط راننده ی مورد نظر رد شده است.برای انتصاب مجدد سفارش به راننده ی دیگر به لینک زیر مراجعه فرمایید. </p>
        <a href="{{ path("operator_dashboard_driverAssign") }}/{{ shipmentId }}"><button>انتصاب مجدد</button></a>
        <a href="{{ path("operator_dashboard_assignShipment") }}"><button>بازگشت</button></a>
    </div>
{% endblock %}